# REGEX

In [ ]:
import re 
m = re.search(r"\d{5,10}", "Age is 212122.")
print(m)
print(m.group())

In [ ]:
import re 
print(re.search(r"colou?r", "color"))

In [ ]:
findall

# LAMBDA

In [ ]:
is_float = lambda x: "Float" if type(x) == float else "Not Float"
print(is_float(3.19))

In [ ]:
sum = lambda x,y,z: x+y+z 
print(sum(1,2,3))

# CLASSES AND OBJECTS

In [ ]:
class Mobile:
    brand = 'hit'
    price = 'null'

m1 = Mobile()
m2 = Mobile()
m3 = Mobile()

In [ ]:
m2.price

In [ ]:
Mobile.brand = 'HIT'
#if changes are done based on classs then all objects are affected

In [ ]:
print(m3.brand)

In [ ]:
m1.brand = "hITT"
m1.brand
#if changes are done based on object only that object got affected

In [ ]:
m2.brand

In [ ]:
class Bank:
    Name = "SBI"
    Loc = "Haldia"
    Branch = "Township"
    IFSC = "SBI1234"


c1 = Bank()
c1.cName = "Kshitij"
c1.age = 15
c1.id = 11

c2 = Bank()
c2.cName = "Rahul"
c2.age = 12
c2.id = 12

c3 = Bank()
c3.cName = "Abhay"
c3.age = 52
c3.id = 13

print(c3.cName)

In [ ]:
class Bank:
    bank_name = "SBI"
    branch = "Haldia"
    ifsc = "SBIN00032"
    country = "India"
    def set_details(obj, name, age, phone, pan, balance):
        obj.name = name
        obj.age = age
        obj.phone = phone
        obj.pan = pan
        obj.balance = balance
c1 = Bank()
c1.set_details("Aditya", 22, 9489489489, "LXHFL493R", 40000 )

In [ ]:
class Bank:
    bank_name = "SBI"
    branch = "Haldia"
    ifsc = "SBIN00032"
    country = "India"

    #Constructor to initialize object members
    def __init__(self, name, age, phone, pan, balance):
        self.name = name
        self.age = age
        self.phone = phone
        self.pan = pan 
        self.balance = balance

#Creating objects 
c1 = Bank("Aditya", 22, 9489489489, "LXHFL493R", 40000)
c2 = Bank("Aman", 25, 2432948949, "LKBFN7488R", 80000)
c3 = Bank("Bumba", 29, 567832489, "KNKGH1542I", 12000)

print(c1.name, c1.age, c1.balance)
print(c2.name, c2.age, c2.balance)

Aditya 22 40000
Aman 25 80000

In [27]:
class Bank:
    bank_name = "SBI"
    branch = "Haldia"
    ifsc = "SBIN00032"
    country = "India"

    #Constructor to initialize object members
    def __init__(self, name, age, phone, pan, balance):
        self.name = name
        self.age = age
        self.phone = phone
        self.pan = pan 
        self.balance = balance
    
    def withdraw(self, balance):
        if(self.balance > balance and balance > 0):
            self.balance = self.balance - balance
    def deposit(self, balance):
        self.balance = self.balance + balance

#Creating objects 
c1 = Bank("Aditya", 22, 9489489489, "LXHFL493R", 100)
c2 = Bank("Aman", 25, 2432948949, "LKBFN7488R", 80000)
c3 = Bank("Bumba", 29, 567832489, "KNKGH1542I", 12000)

print(c1.name, c1.age, c1.balance)
c1.withdraw(-500)

print(c1.name, c1.age, c1.balance)
c1.deposit(10000)

print(c1.name, c1.age, c1.balance)

print(c2.name, c2.age, c2.balance)

Aditya 22 100
Aditya 22 100
Aditya 22 10100
Aman 25 80000

In [ ]:
class Bank:
    bank_name = "SBI"
    branch = "Haldia"
    ifsc = "SBIN00032"
    country = "India"

    #Constructor to initialize object members
    def __init__(self, name, age, phone, pan, balance):
        self.name = name
        self.age = age
        self.phone = phone
        self.pan = pan 
        self.balance = balance
    
    def display(self):
        print(self.name, self.phone, self.balance)
    def withdraw(self, balance):
        if(self.balance > balance and balance > 0):
            self.balance = self.balance - balance
    def deposit(self, balance):
        self.balance = self.balance + balance

    @classmethod    
    def branch_Change(cls, branch):
        cls.branch = branch

#Creating objects 
c1 = Bank("Aditya", 22, 9489489489, "LXHFL493R", 100)
c2 = Bank("Aman", 25, 2432948949, "LKBFN7488R", 80000)
c3 = Bank("Bumba", 29, 567832489, "KNKGH1542I", 12000)

print(c1.name, c1.age, c1.balance, c1.branch)

Bank.branch_Change("Kolkata")


print(c2.name, c2.age, c2.balance, c2.branch)

Aditya 22 100 Haldia
Aman 25 80000 Kolkata